/* ==============
Google Fonts link
=================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*================
   Common Style
================= */
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

body > img {
  width: 100%;
}
:root {
  /* Color */
  --primary-color: #e02c6d;
  --text-color: #3a3a3a;
  --sec-color: #041e42;
}

.container {
  width: 77%;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 100px;
}

.primary-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 24px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 41px;
  margin-top: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.primary-btn:hover {
  background-color: var(--sec-color);
  color: var(--primary-color);
}
.sec-btn {
  border-radius: 0;
}

.see-more-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary-color);
  background: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  float: right;
}
.info {
  font-size: 1rem;
  font-weight: 500;
  max-width: 505px;
  color: #6c6c6c;
}

/* ================
   Header Section
=================*/

.nav-container {
  width: 85%;
  max-width: 1200px;
  margin: 80px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toogle-btn {
  display: none;
}
.nav-cart {
  display: none;
}
.logo {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

.nav-container .nav-item {
  list-style: none;
  display: flex;
  gap: 34px;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
}

.hero-heading {
  font-size: 3.25rem;
  font: 700;
  text-transform: capitalize;
}
.hero-img-box img {
  width: 100%;
  background-image: url(../images/Circle\ design.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sponsor-box {
  border: 0.5px solid rgba(0, 0, 0, 0.164);

  padding: 40px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*=================
 Product section 
 =================*/

.product-section-heading {
  font-size: 1.8rem;
  text-align: center;
}

.product-group {
  margin: 30px 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.product {
  padding: 17px 15px;
  background-color: white;
  max-width: 329px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 7px rgba(231, 230, 230, 0.521);
}
.product img {
  width: 300px;
  height: 256px;
  border-radius: 5px;
}
.price {
  font-size: 1.5rem;
}

.rating-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
}

.rating-box span {
  font-size: .8rem;
  color: orange;
}
.product-info {
  max-width: px;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(120, 120, 133, 1);
}
/* Feature Section */

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-text {
  max-width: 610px;
}
footer {
  background-color: var(--sec-color);
  color: white;
  text-align: center;
}
footer h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}
.link-area {
  width: 32px;
  height: 32px;
  background: #00000042;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
